#
# Tue 17 Aug 2021
# ===============
#

Port     22
Protocol 2

HostKey /etc/ssh/ssh_host_ed25519_key

# HostkeyAlgorithms: the public key algorithms accepted for an SSH server to authenticate itself to an SSH client
HostKeyAlgorithms sk-ssh-ed25519@openssh.com,sk-ssh-ed25519-cert-v01@openssh.com,ssh-ed25519-cert-v01@openssh.com,ssh-ed25519

# KexAlgorithms: the key exchange methods that are used to generate per-connection keys
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512

# Ciphers: the ciphers to encrypt the connection
Ciphers aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,

# MACs: the message authentication codes used to detect traffic modification
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

# Poke client every 15 seconds, drop connection if there is no response for a minute
ClientAliveInterval 15
ClientAliveCountMax 4

LoginGraceTime 10
MaxAuthTries   3
MaxSessions    20
MaxStartups    100:50:200

AddressFamily                   inet
AllowTcpForwarding              no
Banner                          /dev/null
ChallengeResponseAuthentication no
Compression                     delayed
DebianBanner                    no
GSSAPIAuthentication            no
GatewayPorts                    no
HostbasedAuthentication         no
IgnoreRhosts                    yes
KerberosAuthentication          no
LogLevel                        ERROR
PasswordAuthentication          no
PermitEmptyPasswords            no
PermitRootLogin                 prohibit-password
PrintLastLog                    no
PrintMotd                       no
PubkeyAuthentication            yes
StrictModes                     yes
UseDNS                          no
UsePAM                          no
VersionAddendum                 none
X11Forwarding                   no

Subsystem sftp internal-sftp

Match Group agents
    AllowAgentForwarding no
    AllowTcpForwarding   no
    ChrootDirectory      %h
    PermitTunnel         no
